<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="h-10 w-10 bg-red-500 rounded-md">
      <img class="w-full h-full object-cover" src="/images/uploads/<%= curr_user.profilepic %>" >
    </div>
    <h4>Hi <%= curr_user.name %></h4>
    <form action="/createpost" method="post">
      <textarea name="content" placeholder="Whats on your mind ?"></textarea>
      <button>Create Post</button>
    </form>
    <hr />
    <h4>your posts</h4>
    <div class="postsContainer">
      <div class="post">
        <% curr_user.posts.reverse().forEach((post)=>{ %>
        <h4><%= curr_user.name %></h4>
        <p>
          <%= post.content %>
        </p>
        <p><%= post.likes.length%> likes</p>
        <div class="btns">
          <a href="/like/<%= post._id%>">
            <%if(post.likes.indexOf(curr_user._id)===-1){ %>
                Like 
            <%}else{ %>
                Dislike 
            <%} %>
            </a>
          <a href="/edit/<%= post._id%>">Edit</a>
        </div>

        <% }) %>
      </div>
      
    </div>
  </body>
</html>
